<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>Mixify</title>
</head>

<body>

    <form action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input class="btn btn-link" type="submit" value="Log out">
    </form>

    <form action="/" method="get">
        <input class="btn btn-link" type="submit" value="Go back">
    </form>

    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center">
            <h1 class="display-1">Playlist: <span th:text="${playlist.name}"></span></h1>
        </div>
    </div>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <script src="/js/playlist.js"></script>
</body>

</html>